 html, body {
     background-color: #fff;
     color: #636b6f;
     font-family: 'Nunito', sans-serif;
     font-weight: 200;
     height: 100vh;
     margin: 0;
 }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}



 .checkbox-lg .custom-control-label::before,
 .checkbox-lg .custom-control-label::after {
     top: .8rem;
     width: 1.55rem;
     height: 1.55rem;
 }

 .checkbox-lg .custom-control-label {
     padding-top: 13px;
     padding-left: 6px;
 }

/*https://mdbootstrap.com/snippets/jquery/mdbootstrap/820928*/
 .checkbox-xl .custom-control-label::before,
 .checkbox-xl .custom-control-label::after {
     top: 8px;
     width: 1.85rem;
     height: 1.85rem;
 }

 .checkbox-xl .custom-control-label {
     padding-top: 12px;
     padding-left: 10px;
 }



 .bootstrap-off {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body-bootstrap-off {
     line-height: 1;
 }
 ol-bootstrp-off, ul-bootstrp-off {
     list-style: none;
 }
 blockquote-bootstrap-off, q-bootstrap-off {
     quotes: none;
 }
 blockquote-bootstrap-off:before, blockquote-bootstrap-off:after,
 q-bootstrap-off:before, q-bootstrap-off:after {
     content: '';
     content: none;
 }
 table-bootstrap-off {
     border-collapse: collapse;
     border-spacing: 0;
 }
